In [1]:
# Load the player bios from the csv

import pandas as pd

df = pd.read_csv('player_bios.csv')

In [2]:
df

                                             Player Bio
0     A physical specimen with a rare size-speed com...
1     A legitimate No. 1-caliber receiver who steppe...
2     A highly disruptive, athletic specimen with th...
3     A havoc-wreaking rush linebacker with the burs...
4     Smart, tough, versatile franchise left tackle ...
...                                                 ...
4993  Webb is a Florida product but helped Stevenson...
4994  Russ is the son of Craig Yeast, who was the SE...
4995  Marks was known as "Grandpa" on the field as a...
4996  Wynn was coached by former Georgia and NFL run...
4997  Moala signed with Indiana State and then-head ...

[4998 rows x 1 columns]

In [3]:
# Remove nas and duplicates

df = df.dropna()

In [4]:
df

                                             Player Bio
0     A physical specimen with a rare size-speed com...
1     A legitimate No. 1-caliber receiver who steppe...
2     A highly disruptive, athletic specimen with th...
3     A havoc-wreaking rush linebacker with the burs...
4     Smart, tough, versatile franchise left tackle ...
...                                                 ...
4993  Webb is a Florida product but helped Stevenson...
4994  Russ is the son of Craig Yeast, who was the SE...
4995  Marks was known as "Grandpa" on the field as a...
4996  Wynn was coached by former Georgia and NFL run...
4997  Moala signed with Indiana State and then-head ...

[3877 rows x 1 columns]

In [5]:
# Drop duplicates

df = df.drop_duplicates()

In [6]:
df

                                             Player Bio
0     A physical specimen with a rare size-speed com...
1     A legitimate No. 1-caliber receiver who steppe...
2     A highly disruptive, athletic specimen with th...
3     A havoc-wreaking rush linebacker with the burs...
4     Smart, tough, versatile franchise left tackle ...
...                                                 ...
4993  Webb is a Florida product but helped Stevenson...
4994  Russ is the son of Craig Yeast, who was the SE...
4995  Marks was known as "Grandpa" on the field as a...
4996  Wynn was coached by former Georgia and NFL run...
4997  Moala signed with Indiana State and then-head ...

[3875 rows x 1 columns]